<launch>
	<arg name="robot" />
	<group ns="$(arg robot)">
        <!-- left eye -->
		<node name="eyelid_left" pkg="eyelids" type="eyelids_node_main.exe" output="screen">
			<param name="port" type="string" value="eyelids" />
            <param name="side" type="string" value="left" />
		</node>
        
        <!-- right eye -->
		<node name="eyelid_right" pkg="eyelids" type="eyelids_node_main.exe" output="screen">
			<param name="port" type="string" value="eyelids" />
            <param name="side" type="string" value="right" />
		</node>
	</group>
</launch>
