<launch>
    <arg name="robot" />

    <group ns="$(arg robot)">
        <node name="base_motor" pkg="maggie_base" type="base_motor_node_main.exe" output="screen">
            <!--
                <param name="port1" type="string" value="motor_base2" />
                <param name="port2" type="string" value="motor_base1" />
            -->
        </node>
    </group>
</launch>
